$white: #e9e9ed;
$white-80: rgba(233, 233, 237, 0.8);
$black: #15161e;

$bg-body: rgba(30, 30, 46, 0.45);
$bg-body--hover: rgba(255, 255, 255, 0.1);

window#waybar {
  background: none;
  color: $white;
  font-family: Ubuntu Nerd Font;
  font-weight: 500;
  font-size: 14px;
}

.modules-left {
  margin-left: 10px;
  margin-left: 4px;
  margin-left: 0;

  .module {
    margin-right: 8px;
  }
}

.modules-right {
  margin-right: 10px;
  margin-right: 4px;
  margin-right: 0;
  background-color: transparent;
  /* background-color: $bg-body; */
  /* border-bottom-left-radius: 9999px; */
  /* border-top-left-radius: 9999px; */

  .module {
    margin-left: 8px;
  }
}

#workspaces {
  border-radius: 9999px;
  padding: 0px 4px;
  margin: 4px 0;

  background-color: $bg-body;

  button {
    border-radius: 9999px;
    padding: 0px 6px;
    margin: 4px 2px;
    font-size: 12px;
    transition: 100ms;
    border: 0;

    color: $white-80;

    &:hover {
      box-shadow: inherit;
      text-shadow: inherit;
      border: 0;

      background: $bg-body--hover;
    }

    &.active {
      background: $white;
      color: $black;
    }
  }
}

#privacy {
  /* background-color: rgba(30, 30, 46, 0.45); */
  /* border-radius: 9999px; */
  /* padding: 0 4px; */
  /* margin-top: 4px; */
  /* margin-bottom: 4px; */
}

#privacy-item {
  border-radius: 9999px;
  /* border-radius: 6px; */
  padding: 0px 8px;
  margin: 4px 0;
  border-width: 1px;
  border-style: solid;

  &.audio-in {
    background: #d98f00;
    border-color: #805400;
  }

  &.screenshare {
    background: #0078d9;
    border-color: #004780;
  }
}

#wireplumber {
  background-color: $bg-body;
  border-radius: 9999px;
  padding: 0 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  transition: 100ms;
  /* background-color: transparent; */

  &:hover {
    background-color: $bg-body--hover;
  }
}

#tray {
  background-color: $bg-body;
  /* background-color: transparent; */
  border-radius: 9999px;
  padding: 0px 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

#custom-power {
  background-color: $bg-body;
  border-radius: 9999px;
  border-radius: 0;
  border-bottom-right-radius: 9999px;
  border-top-right-radius: 9999px;
  padding: 0px 16px;
  margin: 4px 0;
  margin: 0;
  transition: 100ms;
  padding-right: 20px;

  &:hover {
    background-color: $bg-body--hover;
  }
}

#clock.date {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  padding-left: 16px;
  padding-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0px;
  padding-left: 20px;

  background-color: $bg-body;
  /* background-color: transparent; */
}

#clock.time {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-radius: 0;
  padding-right: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin: 0;
  margin-left: 0;

  background-color: $bg-body;
  /* background-color: transparent; */
}
